/* Request Form Styles */
.request-form {
  width: 500px;
  margin: 0px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.request-form div {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.request-method {
  width: 20%; 
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.request-form input {
  width: 76%; 
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 1px solid black;

}

.collection-dropdown {
  width: 75%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 1px solid black;
}

.request-form h2 {
  margin-top: 0px;
  text-align: center;
}

.request-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.request-form textarea  {
  width: 70%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.request-form button {
  width: 30%;
  padding: 10px;
  margin-left: 35%;
  margin-top: 15px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.request-form button:hover {
  background-color: #45a049;
}

/* Response Section Styles */
.response {
  margin-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.response-title {
  font-size: 24px;
  font-weight: bold;
}

.response-meta {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.response-meta span {
  margin-right: 20px;
}

.response pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
